nav {
    background: #7ccae0;
    font-family: "Papyrus";

}

.navbar-brand {
    font-family: "Papyrus";
    font-size: 2.5rem;
}

.main_display {
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
    font-family: "Papyrus";
    margin-top: 100px;
}

body {
    background-image: url("../img/ocean.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.row {
  margin-bottom: 30px;
}

.row h2 {
  color: rgb(0, 0, 0);
  margin-left: 20px;
}



.carousel-wrapper {
  position: relative;
}

.carousel {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  scroll-behavior: smooth;
  background-color: #7ccae0;

}

.carousel::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 200px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
}

