html,
body {
    margin:0;
}
div {
    border: 1px solid red;
    background-color: rgba(255,150,50,10);
}
.abs-no-parent-pos {
    background-color: cornflowerblue;
    width: 50%;
    position: absolute;
    top: 20%;
    right: 100px
}

.rel-parent-pos {
    width: 50%;
    height: 100vh;
    background-color: blueviolet;
    position: relative;
    /* right: -300px; */
}

.abs-rel-parent-pos {
    background-color: rgb(12,237,16);
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 10px;
    right: 0;
}

header {
    background-color: coral;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 10
}