nav {
    background: #7ccae0;
    font-family: "Papyrus";

}

.navbar-brand {
    font-family: "Papyrus";
    font-size: 2.5rem;
}

.main_display {
    margin-top: 100px;
    font-family: "Papyrus";
}

.heading {
  display: flex;
  justify-content: center; 
  font-size: 2rem;

}

body {
    background-image: url("../img/ocean.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

    .container {
        width: 700px;
        background: white;
        padding: 20px;
        border-radius: 10px;
        margin-top: 35px;
    }

    #reviewInput {
        width: 100%;
    }

    #reviewList {
         display: flex;
  flex-direction: column;
  width: 700px;
  gap: 0;
  margin: 0 auto;
    }

    .review-card {
  background: linear-gradient(#7ccae0, white);
  border-radius: 14px;
  padding: 16px;
  margin-top: 15px;


  display: flex;
  flex-direction: column;
  gap: 10px;

}

@media (min-width: 768px) {
    .container,
    #reviewList {
        max-width: 700px;}
    .heading {
        font-size: 2rem;}
}

@media (min-width: 992px) {
    .container,
    #reviewList {
        max-width: 850px;}
    .heading {
        font-size: 2.3rem;}
}

@media (min-width: 1200px) {
    .container,
    #reviewList {
        max-width: 1000px;}
    .heading {
        font-size: 2.6rem;}
}

@media (max-width: 767px) {
    .container,
     #reviewList {
        max-width: 95%;}
    .heading {
        font-size: 1.5rem;
        text-align: center;}
    #titleInput,
    #venueInput,
    #dateInput {
        width: 32.75%;}
}