nav {
    background: #7ccae0;
    font-family: "Papyrus";

}

.navbar-brand {
    font-family: "Papyrus";
    font-size: 2.5rem;
}

.form {
    margin-top: 100px;
}

.main_display {
    margin-right: 50px;
    margin-left: 50px;
    font-family: "Papyrus";

}

body {
    background-image: url("../img/ocean.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fake-button {
    text-decoration:none;
    color: white;
    width:fit-content;
    padding: 5px 15px;
    border-radius:7px;

}